# Required Packages

 - JuMP
 - *Gurobi
 - *Mosek
 - ECOS
 - SCS
 - COSMO
 - BenchmarkTools
 - TimerOutputs
 - Plots
 - LaTeXStrings
 - PGFPlotsX
 - poppler (pdf2cairo,pdf2svg)

*require an academic or commercial license.
